[submodule "rayonism-mev-hackathon"]
	path = rayonism-mev-hackathon
	url = https://github.com/lidofinance/rayonism-mev-hackathon.git
[submodule "nethermind"]
	path = nethermind
	url = https://github.com/NethermindEth/nethermind.git
[submodule "mergenet-tutorial"]
	path = mergenet-tutorial
	url = https://github.com/protolambda/mergenet-tutorial.git
	branch = master
[submodule "ray-tracing-bundles"]
	path = ray-tracing-bundles
	url = https://github.com/NethermindEth/ray-tracing-bundles.git
